<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running on laptop. false for running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default"/>

    <group ns="$(arg veh)">
        <node if="$(arg local)" pkg="tag_sequence_following" type="tag_sequence_controller_node.py"
              name="tag_sequence_controller_node" clear_params="true" output="screen" required="true">
            <rosparam command="load"
                      file="$(find duckietown)/config/$(arg config)/tag_sequence_following/tag_sequence_controller_node/$(arg param_file_name).yaml"/>
        </node>

        <node unless="$(arg local)" machine="$(arg veh)" pkg="tag_sequence_following"
              type="tag_sequence_controller_node.py" name="tag_sequence_controller_node" clear_params="true"
              output="screen" required="true">
            <rosparam command="load"
                      file="$(find duckietown)/config/$(arg config)/tag_sequence_following/tag_sequence_controller_node/$(arg param_file_name).yaml"/>
        </node>
    </group>

</launch>
